body:not(.elementor-editor-active) .ahura-mobile-navbar-3 {
    position: fixed;
    z-index: 99999;
    bottom: 0;
    left: 0;
    width: 100%;
}

.ahura-mobile-navbar-3 .navbar-3 .navbar-items {
    display: flex;
    flex-wrap: wrap;
}

.ahura-mobile-navbar-3 .navbar-3 .navbar-items .nav-item {
    text-align: center;
    flex: 1 0 0;
    align-self: center;
}

.ahura-mobile-navbar-3 .navbar-3 .navbar-items .nav-item a i {
    position: relative;
    top: 3px;
}

.ahura-mobile-navbar-3 .navbar-3 .navbar-items .nav-item a,
.ahura-mobile-navbar-3 .navbar-3 .navbar-items .nav-item a i {
    display: inline-block;
    transition: ease 0.3s;
}